{
  "type": "mssql",
  "host": "localhost",
  "username": "your-mysql-username",
  "password": "your-mysql-password",
  "database": "dbname",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}